---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import Linkedin from '../icons/LinkedIn.astro';
import Github from '../icons/GitHub.astro';
import Mail from '../icons/Mail.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Briefcase from '../icons/Briefcase.astro';
import Code from '../icons/Code.astro';
---

<Layout
  title="Portfolio de Alex Pineño Sánchez - Desarrollador Full Stack especializado en IA y Big Data"
  description="Descubre el portfolio de Alex Pineño Sánchez, un desarrollador Full Stack con experiencia en tecnologías avanzadas como inteligencia artificial, big data y desarrollo web. Con un enfoque en soluciones innovadoras y escalables, Alex combina habilidades técnicas y creatividad para crear proyectos de alto impacto. Explora su experiencia en desarrollo de software, proyectos de IA y análisis de datos."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-12 mb-4"
        src="https://avatars.githubusercontent.com/u/119886032?v=4?s=400"
        alt="Alex Pineño Sanchez"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Alex Pineño
        <a
          href="https://www.linkedin.com/in/alex-pine%C3%B1o-sanchez-7556b4208/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>Desarrollador de software full stack especializado en </span>
        <span class="text-yellow-200/90">BackEnd, Big Data y IA. </span>
        <span class="text-red-200/90">Desde Ciudad Real, España</span>
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/alex-pine%C3%B1o-sanchez-7556b4208/"
        >
          <Linkedin class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/YoSoyAlexElPine">
          <Github class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:alexpinesanz@gmail.com">
          <Mail class="size-4 md:size-6" />
          alexpinesanz@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="Proyectos">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
